@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,italic&display=swap");

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "Open Sans", sans-serif;
$fontSize: rem(16); // где 14(px) - размер шрифта по умолчанию из макета
$fa-font-path: "../fontawesome";

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "_null";
@import url(fontawesome/scss/font-awesome.scss);

body {
  background: rgb(247, 202, 201);
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(247, 202, 201, 1) 0%, rgba(146, 168, 209, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 fallback on horizontal gradient */
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  textarea {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;

    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid #000;
      transition: all 0.5s;
    }
  }
  &.height100 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .add-todo {
      padding: 20px;
      text-align: center;
      .add-todo-button {
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0;
        transition: all 0.5s;
        &:hover {
          background-color: #000;
          color: #dfdfdf;
        }
      }
    }
    .todos-area {
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      h2 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 20px;
      }
      .todos-all {
        padding: 20px;
        max-height: 70vh;
        overflow-y: auto;
        overflow-x: hidden;
        width: 50%;
        .remove-text {
          font-size: 14px;
          padding-top: 10px;
          text-align: center;
          cursor: pointer;
          text-decoration: underline;
          color: #e65050;
          &:hover {
            font-weight: 800;
          }
        }
        .todos-list {
          display: flex;
          flex-direction: column;
          gap: 10px 0;
        }
        .todo-item {
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          width: 100%;
          height: 0;
          overflow-wrap: anywhere;
          margin: 0;
          transition: all 0.4s ease-out;
          opacity: 0;
          position: relative;
          top: -20px;
          background-color: rgba(255, 255, 255, 0.2);
          border-radius: 2px;
          &.show {
            opacity: 1;
            top: 0;
            height: 3em;
          }

          .checkbox {
            display: none;
            &:checked + .custom-checkbox::before {
              opacity: 1;
            }
          }
          .custom-checkbox {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            margin: 10px;
            border: 1px solid #000;
            position: relative;
            line-height: 1em;
            &::before {
              content: "\2714";
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: block;
              opacity: 0;
              transition: 0.2s;
            }
          }
          .title {
            &.cross {
              text-decoration: line-through;
            }
          }

          .remove-item {
            position: relative;
            text-align: center;
            cursor: pointer;
            width: 30px;
            background-color: rgb(241, 163, 163);
            flex-shrink: 0;
            &:hover {
              background-color: rgb(248, 118, 118);
            }
            .fa {
              position: absolute;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          .label {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
